<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>

        <add key="WSGI_HANDLER" value="app.app" />
        <add key="PYTHONPATH" value="E:\LiveChatVersionControlled\Live-chatApp-Admin-Panel-SocketIo" />

    </appSettings>
    <system.webServer>
        <handlers>
            <add name="FirstFlaskHandle" path="*" verb="*" modules="FastCgiModule" scriptProcessor="e:\livechatversioncontrolled\livechat\scripts\python.exe|e:\livechatversioncontrolled\livechat\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="liveitsupport" stopProcessing="true">
                    <match url="liveitsupport(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:5009/liveitsupport/{R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
